body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: url('https://tse2.mm.bing.net/th?id=OIP.urhd_k_2LPVWvhnyILpQEQHaEo&pid=Api&P=0&h=180') no-repeat center center fixed;
    background-size: cover;
}

#calculator {
    text-align: center;
    padding: 20px;
    border: 1px solid #561c1c;
    border-radius: 8px;
    box-shadow: 0 0 10px  rgb(142, 35, 131);
    background-color: #D9AFD9;
background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}
input {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}
